body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Comfortaa', cursive;
    user-select: none;
    text-shadow: none;
}

body {
    background-color:burlywood;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    height: 20%;
}

.scorebox {
    height: auto;
    border: 2px solid black;
    padding: 5px;
    width: 150px;
    text-align: center;
    box-shadow: 1px 1px 1px rgb(51, 51, 51);
}

.top-score {
    height: auto;
    border: 2px solid black;
    padding: 5px;
    width: 200px;
    text-align: center;
    box-shadow: 1px 1px 1px rgb(51, 51, 51);
}

.score, .guess, .top {
    font-weight: bold;
}

h1 {
    height: auto;
    text-align: center;
}

h2 {
    height: auto;
    text-align: center;
}

.play-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.rect-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    max-width: 500px;
    max-height: 240px;
}

.rect-element {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-color:orangered;
    cursor: pointer;
    z-index: 99;
    position: relative;
}

.rect-element-selected {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    border: 1px solid orangered;
}

.rect-answer {
    position: absolute;
    font-weight: bold;
    top: 38px;
    left: 38px;
    height: auto;
    width: auto;
    color: orangered;
    pointer-events: none;
    user-select: none;
    text-shadow: none;
}

.round, .correct-guess, .lose {
    position: absolute;
    top: 20%;
    margin-top: 20px;
    width: auto;
    height: auto;
}

.hidden {
    display: none;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    height: 200px;
}

.btn-next, .btn-play {
    border: none;
    height: 60px;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
    background-color:aliceblue;
}

.btn-next:hover, .btn-play:hover {
    border: 3px solid lightblue;
}

@media only screen and (max-width: 550px) {
    .rect-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 120px;
        max-width: 500px;
        max-height: 160px;
    }

    .rect-element {
        height: 70px;
        width: 70px;
        border-radius: 10px;
        background-color: orangered;
        cursor: pointer;
        z-index: 99;
        position: relative;
    }
    
    .rect-element-selected {
        height: 70px;
        width: 70px;
        border-radius: 10px;
        background-color: transparent;
        cursor: pointer;
        position: relative;
    }

    .rect-answer {
        position: absolute;
        font-weight: bold;
        top: 22px;
        left: 22px;
        height: auto;
        width: auto;
        pointer-events: none;
        user-select: none;
        text-shadow: none;
    }

    h1 {
        font-size: 26px;
    }
}